<!DOCTYPE html>
<html>
<meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .col-md-3
{
display: inline-block;
margin-left:-4px;
}
.carousel-indicators .active {
background-color: blue;
}
 img{
width: 321px;
height: 321px;
}
body .carousel-indicator li{
background-color: blue;
}
body .carousel-indicators{
bottom: 0;
}
body .carousel-control-prev-icon,
body .carousel-control-next-icon{
background-color: blue;
}
.carousel-control-prev,
.carousel-control-next{
top: auto;
bottom: auto;
padding-top: 222px;
}
body .no-padding{
padding-left: 0,
padding-right: 0;
}
.bb {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.bb:hover, a:hover {
  opacity: 0.7;
}

#small
{
display:none;
}
#medium
{
  display: none;
}

@media only screen and (max-width:360px)
{
#big{
display:none;
}
#small
{
display:inline-block;
}
#medium
{
  display: none;
}
.card
{
  margin-left: 20px;
}
}
@media only screen and (min-width:375px) and (max-width: 400px)
{
#big{
display:none;
}
#small
{
display:inline-block;
}
#medium
{
  display: none;
}
.card
{
  margin-left: 30px;
}
}
@media only screen and (min-width:414px) and (max-width: 500px)
{
#big{
display:none;
}
#small
{
display:inline-block;
}
#medium
{
  display: none;
}
.card
{
  margin-left: 50px;
}
}
@media only screen and (min-width:900px) and (max-width: 1200px)
{
#big{
display:none;
}
#small
{
display:none;
}
#medium
{
  display:inline-block;
}
.card
{
  margin-left: 130px;
}
}
@media only screen and (min-width:768px) and (max-width: 900px)
{
#big{
display:none;
}
#small
{
display:none;
}
#medium
{
  display:inline-block;
}
.card
{
  margin-left:40px;
}

}
</style>
</head>

<body>

    <body style="background: #222 url('https://unsplash.it/1920/1080/?random') no-repeat;background-size:cover;">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Puncture.Com</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/shop/">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blog/">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/shop/contact/">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/shop/about">About Us</a>
                    </li>
                </ul>
                <form method="get" action="/accounts/search/" class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <!--Alert Message-->
        {% if messages %}
        {%for message in messages%}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
            <strong>Message!</strong> {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {%endfor%}
        {%endif%}
        <div class="container" id="big">
            <div class="row my-5">
                {%for mech in allmech%}
                <div class="card  mx-4" style="width: 20rem;">
                    <img src="/media/{{mech.image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title{{mech.id}}">{{mech.mymechanic.username}}
                            <i> <sub class="card-text" style="margin-top: -20px;font-size:12px;">{{mech.expertat}} Mechanic</sub></i></h5><br />
                        <p class="card-text">{{mech.bio}}</p>
                        <p>
                            <a href="#exampleModalCenter{{mech.id}}" class="dropdown-item text-light" data-toggle="modal" data-target="#exampleModalCenter{{mech.id}}" style="background-color: transparent;"><button id="{{mech.id}}" class="bb px-5 py-1" style="width:230px;">Comment</button></a></p>
                        <p>
                            <a href="#exampleModalCenter1{{mech.id}}" class="dropdown-item text-light" data-toggle="modal" data-target="#exampleModalCenter1{{mech.id}}" style="background-color: transparent;"><button id="{{mech.id}}" class="bb px-5 py-1">Remove</button></a></p>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 and forloop.counter > 0 and not forloop.last %}
            </div>
            <div class="row  my-5">
                {%endif%}
                {%endfor%}
            </div>
        </div>
        <div class="container" id="medium">
            <div class="row my-5">
                {%for mech in allmech%}
                <div class="card" style="width: 20rem;">
                    <img src="/media/{{mech.image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title{{mech.id}}">{{mech.mymechanic.username}}
                            <i> <sub class="card-text" style="margin-top: -20px;font-size:12px;">{{mech.expertat}} Mechanic</sub></i></h5><br />
                        <p class="card-text">{{mech.bio}}</p>
                        <p>
                            <a href="#exampleModalCenter{{mech.id}}" class="dropdown-item text-light" data-toggle="modal" data-target="#exampleModalCenter{{mech.id}}" style="background-color: transparent;"><button id="{{mech.id}}" class="bb px-5 py-1" style="width:230px;">Comment</button></a></p>
                        <p>
                            <a href="#exampleModalCenter1{{mech.id}}" class="dropdown-item text-light" data-toggle="modal" data-target="#exampleModalCenter1{{mech.id}}" style="background-color: transparent;"><button id="{{mech.id}}" class="bb px-5 py-1">Remove</button></a></p>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:2 and forloop.counter > 0 and not forloop.last %}
            </div>
            <div class="row  my-5">
                {%endif%}
                {%endfor%}
            </div>
        </div>
        <div class="container" id="small">
            <div class="row my-5">
                {%for mech in allmech%}
                <div class="card" style="width: 20rem;">
                    <img src="/media/{{mech.image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title{{mech.id}}">{{mech.mymechanic.username}}
                            <i> <sub class="card-text" style="margin-top: -20px;font-size:12px;">{{mech.expertat}} Mechanic</sub></i></h5><br />
                        <p class="card-text">{{mech.bio}}</p>
                        <p>
                            <a href="#exampleModalCenter{{mech.id}}" class="dropdown-item text-light" data-toggle="modal" data-target="#exampleModalCenter{{mech.id}}" style="background-color: transparent;"><button id="{{mech.id}}" class="bb px-5 py-1" style="width:230px;">Comment</button></a></p>
                        <p>
                            <a href="#exampleModalCenter1{{mech.id}}" class="dropdown-item text-light" data-toggle="modal" data-target="#exampleModalCenter1{{mech.id}}" style="background-color: transparent;"><button id="{{mech.id}}" class="bb px-5 py-1">Remove</button></a></p>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:1 and forloop.counter > 0 and not forloop.last %}
            </div>
            <div class="row  my-5">
                {%endif%}
                {%endfor%}
            </div>
        </div>
        <!--Remove Contact-->
        {%for mech in allmech%}
        <div style=" background: #222 url('https://unsplash.it/1920/1080/?random') center center no-repeat;" class="modal fade" id="exampleModalCenter1{{mech.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" style="background: none;" role="document">
                <div class="modal-content " style=" background-color:white;">
                    <div class="modal-header bg-dark">
                        <h5 class="modal-title bg-dark" id="exampleModalCenterTitle" style="color:white;">Remove</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/accounts/remove/{{mech.id}}" method="post">{%csrf_token%}
                            <input type="hidden" value="{{mech.mymechanic.username}}" name="mechanic{{mech.id}}">
                            <input type="submit" class="btn btn-secondary " value="Remove" style="color:white;margin-left: 130px;">
                            <button type="button" class="btn btn-secondary " data-dismiss="modal" style="color:white;margin-left: 30px;">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
        <!--Comments on Contact-->
        {%for mech in allmech%}
        <div style=" background: #222 url('https://unsplash.it/1920/1080/?random') center center no-repeat;" class="modal fade" id="exampleModalCenter{{mech.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" style=" background:none; " role="document">
                <div class="modal-content" style=" background:none;">
                    <div class="modal-header bg-dark">
                        <h5 class="modal-title bg-dark" id="exampleModalCenterTitle" style="color:white;">Comment</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/accounts/comment/{{mech.id}}" method="post">{%csrf_token%}
                           <div class="form-group row">
                                <label for="user1" class="col-sm-2 col-form-label" style="color:white;">Mechanic Id</label>
                                <div class="col-sm-10">
                                    <input type="text"class="form-control mx-2" id="user1" name="mech_id{{mech.id}}" placeholder="Enter the mechanic id" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                  <input type="hidden" value="{{mech.mymechanic.username}}" name="mechanic{{mech.id}}">
                                <label for="staticUser1" class="col-sm-2 col-form-label" style="color:white;">Rating</label>
                                <div class="col-sm-10">
                                    <input type="number" min="0.0" max="10.0"  step="any" class="form-control mx-2" id="staticUser1" name="rating{{mech.id}}" placeholder="Enter a number from 0 to 10" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="input11" class="col-sm-2 col-form-label" style="color:white;">Satisfied</label>
                                <div class="col-sm-10">
                                    <select id="input11"  class="form-control mx-2" name="satisfaction{{mech.id}}">
                                        <option>Yes</option>
                                        <option>No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="color:white;">Cancel</button>
                                <input type="submit" class="btn btn-secondary" value="Submit" style="color:white;">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    </body>

</html>