appdirs==1.4.3
asgiref==3.2.7
astroid==2.3.3
certifi==2020.4.5.1
chardet==3.0.4
checksum==1.0.4
colorama==0.4.3
distlib==0.3.0
dj-database-url==0.5.0
Django==3.0.4
django-appconf==1.0.4
django-heroku==0.3.1
django-jsonfield==1.4.0
django-picklefield==2.1.1
django-responsive==0.3.0
django-responsive2==0.1.3
django-sms-gateway==1.2.1
django-uuidfield-2==0.6.6
filelock==3.0.12
gunicorn==20.0.4
idna==2.7
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
pdfkit==0.6.1
Pillow==8.2.0
pipenv==2018.11.26
psycopg2==2.8.5
pycryptodome==3.9.7
pylint==2.4.4
pytz==2019.3
requests==2.19.1
six==1.14.0
sqlparse==0.3.1
urllib3==1.23
virtualenv==20.0.15
virtualenv-clone==0.5.4
virtualenvwrapper-win==1.2.6
whitenoise==5.0.1
wrapt==1.11.2
