{% extends 'shop/basic.html' %}
{% block title%}Punchture.Com{% endblock %}
{%block css%}
 #demom
  {
    padding-left:400px;
  }
@media only screen and (max-width:767px)
{
  body
  {
    font-size:12px;
  }
  .table
  {
    margin-left:-250px;
  }
  #demom
  {
    margin-left:-20px;
    padding-left:400px;
  }
}
{%endblock%}
{% block body %}
<div class="container">
   
    <div class="col my-4" >

        <h2>Payment status regarding your order Id {{response.ORDERID}}</h2>
        {% if response.RESPCODE == '01' %}
        ORDER SUCCESS
        {% else %}
        ORDER FAILURE
        {% endif%}

    </div>
    <table class="table">
  <thead class="thead-light">
    <tr>
        <th scope="col " colspan="2"><span id="demom">Payment Details</span></th>

    </tr>
  </thead>
  <tbody>
  {% for key,value in response.items%}
  {%if key != 'MID' and key != 'RESPMSG' and key != 'RESPCODE' and key != 'GATEWAYNAME'%}
    <tr>
        <td><span style="padding-left:300px;">{{key}}</span></td>
      <td>{{value}}</td>
    </tr>
  {%endif%}
   {%endfor%}

  </tbody>
</table>


 <div class="text-center">
<button type="button" class="btn btn-primary align-item-center"  id="cmd" onclick="window.print()">Print</button>
</div>
</div>
<script type="text/javascript">
  localStorage.removeItem('cart');
</script>
{% endblock %}
